server:
  port: 8080

spring:
  data:
    neo4j:
      uri: ${NEO4J_URI:bolt://neo4j:7687}
      username: ${NEO4J_USER:neo4j}
      password: ${NEO4J_PASSWORD:neo4j_test_pass}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
